body {
  margin-top: 50px;
  font-family: sans-serif;
}

table {
  border: 1px solid blue;
  border-collapse: collapse;

}

.container {
  display: flex;
  justify-content: space-around;
}

td {
  border: 1px solid blue;
  text-align: center;
  height: 25px;
  width: 25px;
  padding: 0px;
  position: relative;
}

.grid1 > div {
  border-right: 1px solid rgba(0, 0, 255, 0.4);
  border-top: 1px solid rgba(0, 0, 255, 0.4);
  position: relative;
  z-index: 1;
}

.grid1 {
  display: grid;
  grid-template-rows: repeat(10, 25px);
  grid-template-columns: repeat(10, 25px);
  border-left: 1px solid rgba(0, 0, 255, 0.4);
  border-bottom: 1px solid rgba(0, 0, 255, 0.4);
}

.btns {
  margin-top: 25px;
}

.contents {
  height: 200px;
  width: 150px;
  display: flex;
  justify-content: left;
  /* align-items: end; */
  flex-wrap: wrap;
}

.boat {
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
  height: 23px;
  cursor: move;
  left: 0;
  top: 0;
  position: absolute;
  margin: -2px;
  z-index: 5;
}

.five {
  width: 123px;
}

.four {
  width: 98px;
}

.three {
  width: 73px;
}

.two {
  width: 48px;
}

.dragging {
  /* background-color: black; */
}

.spot {
  margin: 10px;
  position: relative;
  height: 23px;
  border: 1px dotted grey;
  background-color: white;
}

.forward {
  z-index: 2342;
}

.hehe {
  border: 1px solid green;
}

.grid1 > .over {
  border-right: 2px solid green;
  border-left: 2px solid green;
  border-bottom: 2px solid green;
  border-top: 2px solid green;
  z-index: 2;
}

.hide {
  opacity: 0;
}

.grid1 > div > .poss {
  border: 2px solid yellowgreen;
}

@keyframes failed {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }

}

.boat.animate {
  border: 2px solid red;
  background-color: rgba(255, 213, 158, 0.678);
  animation: failed 0.2s ease-in 0s 1;
}