body {
  margin-top: 50px;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

.grid1 > div, .grid2 > div {
  border-right: 1px solid rgba(0, 0, 255, 0.4);
  border-top: 1px solid rgba(0, 0, 255, 0.4);
  position: relative;
  z-index: 1;
}

.grid1, .grid2 {
  display: grid;
  grid-template-rows: repeat(10, 25px);
  grid-template-columns: repeat(10, 25px);
  border-left: 1px solid rgba(0, 0, 255, 0.4);
  border-bottom: 1px solid rgba(0, 0, 255, 0.4);
  position: relative;
}

.btns {
  margin-top: 25px;
}

.contents {
  height: 200px;
  width: 150px;
  display: flex;
  justify-content: left;
  /* align-items: end; */
  flex-wrap: wrap;
}

.boat {
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
  height: 23px;
  cursor: move;
  left: 0;
  top: 0;
  position: absolute;
  margin: -2px;
  z-index: 5;
}

.five {
  width: 123px;
}

.four {
  width: 98px;
}

.three {
  width: 73px;
}

.two {
  width: 48px;
}

.spot {
  margin: 10px;
  position: relative;
  height: 23px;
  border: 1px dotted grey;
  background-color: white;
}

.hide {
  opacity: 0;
}

@keyframes failed {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }

}

.boat.animate {
  border: 2px solid red;
  background-color: rgba(255, 213, 158, 0.678);
  animation: failed 0.2s ease-in 0s 1;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.nodrag {
  cursor: pointer;
  user-select: none;
  pointer-events: none;
}

.correcthit .st, .correcthit .nd {
  background-color: red;
  width: 35px;
  height: 1px;
  position: absolute;
  z-index: -1;
}

.correcthit .st {
  transform-origin: top left;
  transform: translate(0px) translateY(-1px) rotate(45deg);
}


.correcthit .nd {
  transform-origin: top right;
  transform: translate(-11px) translateY(-1px) rotate(-45deg);
}

.wronghit {
  background-color: rgb(219, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}

.autosolve {
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackdot {
  background-color: black;
  height: 2px;
  width: 2px;
}

.ownhit {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

.grid2boat {
  position: absolute;
  top: 0;
  left: 0;
  margin: -2px;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

/* .grid2overlay {
  position: absolute;
} */